*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}
.nav-container{
    background-color: #412567;
    max-width: 1600px;
    height: 92px;
}
.nav-content{
    display: flex;
}
.nav-container .nav-content{
    width: 219px;
    height: 32px;
}
.nav-container .nav-logo h2{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 800;
}
.nav-logo{
    margin-top: 30px;
    margin-left: 200px;
}
.nav-container .nav-logo .wave{
    color: rgba(0, 0, 255, 0.918);
    font-weight: 800;
}
.about-container{
    margin-top: 36.5px;
}
.about{
    display: flex;
    gap: 32px;
    text-decoration: none;
    list-style-type: none;
}
.about ul{
    text-decoration: none;
    
}
.about li{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.top-btn:hover{
    background: burlywood;
 }

.btn1{
    margin-top: 24px;
    margin-right: 200px;
}
.sub-button{
    width: 135px;
    height: 44px;
    border-radius: 1000px;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background: linear-gradient(rgba(255, 0, 0, 0.726), rgba(0, 0, 255, 0.353));
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.banner{
    height: 760px;
    max-width: 1600px;
    align-items: center;
    /* width: 100%; */
    background: url("./assets/hero-bg.png");
}
.banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */

}
.banner .banner-items{
    width: 550px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    gap: 40;
    padding: 101px 525px 101px 525px;
    /* background-color: #1A0B2E; */
}
.banner-items .bg-img{
display: block;
}
.top-img{
    position: absolute;
    top: 275px;

}
.top-icon{
    position: absolute;
    left: 877px;
    background-color:#00FF88;
    width: 75px;
    height: 35px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;
    gap: 10;
    font-size: 18px;
    font-weight: 600;
    color: #1A0B2E;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
 
}
.banner-content{
    width: 550px;
    height: 168px;
    margin: 0 auto;
    /* background-color: #00FF88; */
}
.banner-content h1{
    text-align: center;
    font-size: 60px;
    height: 73px;
    padding-bottom: 8px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}
.banner-content .items{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto; 
    text-align: center;
}
.btn2{
    display: flex;
    gap: 8px;
    margin-top: 30px;
    /* background-color: #00FF88; */
    align-items: center;
    justify-content: center;
}
.btn3{
    /* display: flex;
    gap: 8px; */
    width: 201px;
    height: 44px;
    border-radius: 10000px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(rgba(218, 145, 10, 0.789), rgba(18, 18, 174, 0.745));
    border: none;
    cursor: pointer;
}
.btn4{
    /* display: flex;
    gap: 8px; */
    width: 147px;
    height: 44px;
    border-radius: 10000px;
    background-color:#412567;
    color: #00FF88;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


.primary-btn2{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    width: 201px;
height: 44px;
align-items: center;
gap: 8;
padding: 12px 20px 12px 20px;
border-radius: 1000px;
border: none;
font-size: 16px;
font-weight: 600;
color: #FFFFFF;
}
.primary-btn2 img{
    /* display: flex; */
     gap: 8px;
    flex-direction: column;
    margin: 0 auto;
}
.button3{
    background: transparent;
    width: 147px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    border: solid #00FF88;
    border-radius: 1000px;
    color: #00FF88;
    gap: 8px;
}
.podcast-container{
    max-width: 1600px;
    height: 647px;
}
.podcust{
    background: rgba(26, 11, 46, 1);
    padding-top: none;
    padding: 50px 100px 120px 100px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80;
}
.podcust .podcust-details{
    width: 1200px;
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16;
     padding-bottom: 50px;
}
.podcust-details h2{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}
.podcust-details p{
    width: 1200px;
    height: 148px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 16px;
   
}
.podcust hr{
    width: 1200px;
    height: 0;
    border: 1px solid var(--#FFFFFF, rgba(255, 255, 255, 1));
    opacity: 0.1;
    /* padding: 80px 200px 80px 200px; */
}
.stat-container{
    width: 1200px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}
.stat h1{
    color: #00FF88;
    font-style: Black;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.stat p{
   color: #FFFFFF;
   font-size: 16px;
   font-weight: 400px;
}
